.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 100px;
}

.introducao h1 {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 30px;
  line-height: 5rem;
  position: relative;
}

.introducao h1::before {
  content: "";
  width: 130px;
  height: 100px;
  background: url(../img/detalheroxo.svg) no-repeat center;
  position: absolute;
  top: -15px;
  left: -45px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .introducao h1 {
    line-height: 3.5rem;
    margin-bottom: 15px;
  }
  .introducao p {
    font-size: 1.125rem;
  }
  .introducao h1::before {
    width: 100px;
    height: 20px;
    left: -20px;
    top: 20px;
  }
}

@media (max-width: 600px) {
  .introducao {
    display: grid;
    grid-template-columns: 2fr;
    justify-content: center;
    gap: 70px;
  }

  .introducao h1,
  .introducao p {
    text-align: center;
  }

  .introducao h1::before {
    left: 70px;
  }
  img {
    max-width: 60%;
    margin: 0 auto;
  }
}
