.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.75rem;
}

.header-menu a {
  display: block;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 3.75rem;
  padding: 20px 10px;
  color: #141414;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px 10px;
  }

  img {
    margin-top: 1.25rem;
  }
}
